<?xml version='1.0' encoding='utf-8'?>
<plugin id="foxdev-plugin-power-manager" version="0.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>foxdev-plugin-power-manager</name>
    <js-module name="foxdev-plugin-power-manager" src="www/powerManager.js">
        <clobbers target="cordova.plugins.powerManager" />
    </js-module>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="PowerManagerPlugin">
                <param name="android-package" value="org.apache.cordova.plugin.PowerManagerPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/PowerManagerPlugin.java" target-dir="src/org/apache/cordova/plugin" />
    </platform>

</plugin>
